<div id="fullpage">
  <div class="section fp-auto-height-responsive" id="aboutMe">
    <div class="slide" id="slide1" data-anchor="Home">
      <%= render("layouts/home/aboutme") %>
    </div>
  </div>
  <div class="section" id="VSDesign0">
    <div class="slide" id="slide2" data-anchor="VSslide1">
      <%= render('layouts/VSDesign/44 Hawlkingcroft/slide1') %>
    </div>
    <div class="slide" id="slide1" data-anchor="VSslide2">
      <%= render('layouts/VSDesign/44 Hawlkingcroft/slide2') %>
    </div>
    <div class="slide" id="slide2" data-anchor="VS0_2">
      <%= render('layouts/VSDesign/44 Hawlkingcroft/slide3') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="VSDesign">
    <div class="slide" id="slide1" data-anchor="VS0">
      <%= render("layouts/VSDesign/572 Hanworth Road, Richmond/slide1") %>
    </div>
    <div class="slide" id="slide2" data-anchor="VS0_1">
      <%= render("layouts/VSDesign/572 Hanworth Road, Richmond/slide2") %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="VSDesign1">
    <div class="slide" id="slide2" data-anchor="VS1">
      <%= render('layouts/VSDesign/62 Halkingcroft/slide1') %>
    </div>
    <div class="slide" id="slide1" data-anchor="VSslide2">
      <%= render('layouts/VSDesign/62 Halkingcroft/slide2') %>
    </div>
    <div class="slide" id="slide2" data-anchor="VSslide3">
      <%= render('layouts/VSDesign/62 Halkingcroft/slide3') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="VSDesign2">
    <div class="slide" id="slide1" data-anchor="VS1">
      <%= render('layouts/VSDesign/Unnamed Project/slide1') %>
    </div>
  </div>
  <div class="section" id="interior">
    <div class="slide" id="slide2">
      <%= render('layouts/Interior Design/slide1') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="Azam">
    <div class="slide" id="slide1" data-anchor="pBoro">
      <%= render('layouts/SpaceQStudios/Peterborough/slide1') %>
    </div>
    <div class="slide" id="slide2" data-anchor="pBoro2">
      <%= render('layouts/SpaceQStudios/Peterborough/slide2') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="spaceQhouse">
    <div class="slide" id="slide2" data-anchor="spaceQ1">
      <%= render('layouts/SpaceQStudios/Elavation/slide1') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="ewaterpower">
    <div class="slide" id="slide1" data-anchor="hydropower">
      <%= render('layouts/eWaterPower/slide3') %>

    </div>
    <div class="slide " id="slide2" data-anchor="hydropower-1">
      <%= render('layouts/eWaterPower/slide2') %>
    </div>
    <div class="slide" id="slide1" data-anchor="hydropower-2">
      <%= render('layouts/eWaterPower/slide1') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="section0">
    <div class="slide" id="slide2" data-anchor="ITPOSlide1">
      <%= render('layouts/ITPO/slide1') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="section1">
    <div class="slide" id="slide1" data-anchor="laburnum1">
      <%= render('layouts/Laburnum/slide1') %>
    </div>
    <div class="slide" id="slide2" data-anchor="laburnum2">
      <%= render('layouts/Laburnum/slide2') %>
    </div>
  </div>
  <div class="section fp-auto-height-responsive" id="section2">
    <div class="slide" id="slide2" data-anchor="slide3">
      <%= render('layouts/BirlaOffice/slide1') %>
    </div>
  </div>
</div>