<h3><%= @title %></h3>

<p>Dear Web Team,</p>

<p>Could you get in touch with me please, because I have experienced a problem with your application?</p>


<dl>
  <dt>Name:</dt><dd><%= @name %></dd>
  <dt>Email:</dt><dd><%= @email %></dd>
  <dt>Telephone:</dt><dd><%= @phone %></dd>
</dl>

<p><%= @message %></p>
<p>Thanks you very much</p>
<p><%= @name %></p>