<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>VS Design Solutions</h3>
      <h4>62 Halkingcroft</h4>
      <h4>Introduction</h4>
      <p>Single storey rear and side extension along with front porch and garage conversion.</p>
      <div class="row">
        <div class="col-12 col-md-7">
          <figure class="figure">
            <%= image_tag("VSDESIGN/62 Halkingcroft/LocationPlan.png", class: "image") %>
            <figcaption class="figure-caption text-center text-white font-italic">Location and Site Plan</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-10">
              <figure class="figure justify-content-center">
                <%= image_tag("VSDESIGN/62 Halkingcroft/front-image-original.jpg", class: "image") %>
                <figcaption class="figure-caption text-white text-center font-italic">Original Front View</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-10">
              <figure class="figure">
                <%= image_tag("VSDESIGN/62 Halkingcroft/back-image-original.jpg", class: "image") %>
                <figcaption class="figure-caption text-white text-center font-italic">Original Rear View</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <figure class="figure">
        <%= image_tag("VSDESIGN/62 Halkingcroft/Existing Floor.png", class:"image") %>
        <figcaption class="figure-caption text-center text-white font-italic">Existing Floor Plan</figcaption>
      </figure>
    </div>
    <div class="col-md">
      <figure class="figure">
        <%= image_tag("VSDESIGN/62 Halkingcroft/Exisitng Elavation.png", class:"image") %>
        <figcaption class="figure-caption text-center text-white font-italic">Existing Elevation Plan</figcaption>
      </figure>
    </div>
  </div>
</div>