<div class="container">
  <div class="row">
    <div class="col-12 col-md-7">
      <h3>eWaterPower</h3>
      <h4>Reading Project</h4>
      <p>Installation of Archimedes Screw turbines beside Caversham Weir.<br>
        320MWh of renewable electricity every year, with the Weir being able to generate renewable electricity for 40 years.</p>
      <div class="row">
        <div class="col-12 col-md-8">
          <figure class="figure">
            <%= image_tag("Reading/Site-Plan.png", class: "image")%>
            <figcaption class="figure-caption font-italic text-white text-center">Site Plan</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-4">
          <div class="container">
            <div class="row">
              <figure class="figure">
                <%= image_tag("Reading/Fishpass3d.png", class: "image")%>
                <figcaption class="figure-caption font-italic text-white text-center">Fish Pass 3d View</figcaption>
              </figure>
              <figure class="figure">
                <%= image_tag("Reading/Fishpassplan.png", class: "image")%>
                <figcaption class="figure-caption font-italic text-white text-center">Fish Pass Plan View</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <figure class="figure">
            <%= image_tag("Reading/Reading-stock.jpg", class: "image")%>
            <figcaption class="figure-caption font-italic text-white text-center">Caversham Wier</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 float-right">
      <div class="container">
        <div class="row">
          <figure class="figure">
            <%= image_tag("Reading/BrushDownstreamEntrance.png", class: "image")%>
            <figcaption class="figure-caption font-italic text-white text-center">Brush Downstream Entrance</figcaption>
          </figure>
        </div>
        <div class="row">
          <figure class="figure">
            <%= image_tag("Reading/BrushDownstreamPlanSection.png", class: "image")%>
            <figcaption class="figure-caption font-italic text-white text-center">Brush Downstream Entrance Plan View</figcaption>
          </figure>
        </div>
        <div class="row">
          <figure class="figure">
            <%= image_tag("Reading/Topo3D.png", class: "image")%>
            <figcaption class="figure-caption font-italic text-white text-center">Topographical 3D View</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>