<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%#= stylesheet_link_tag 'fullpage' %>
    <%#= javascript_include_tag 'fullpage' %>

    <%= render 'application/favicon' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main role="main">
        <%= yield %>
    </main>
  </body>
</html>
